# Prerequisites
*.d

# Compiled Object files
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lib

**/.DS_Store
